spring.cloud:
  discovery.client.simple.instances:
    my-feign:
      - uri: "https://httpbin.org/"
      - uri: "https://httpbin.org/"

  loadbalancer:
    enabled: true
    eager-load:
      clients: my-feign
